*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-image: ("https://assets.nflxext.com/ffe/siteui/vlv3/e94073b0-a056-402f-9015-16cb1e7e45c2/web/IN-en-20251110-TRIFECTA-perspective_46e74acc-70aa-4691-988a-dbcf958149d1_large.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
}
header{
  background-image: ("https://assets.nflxext.com/ffe/siteui/vlv3/e94073b0-a056-402f-9015-16cb1e7e45c2/web/IN-en-20251110-TRIFECTA-perspective_46e74acc-70aa-4691-988a-dbcf958149d1_large.jpg");
  width: 100%;
  height: 100vh;
  background-size:cover;
  position: relative;

}