*{
    margin: 0px;
    padding:0px;
}
 

  .bgImg {

    height: 140vh;
    width: 100%;
    background-size: cover;
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/e94073b0-a056-402f-9015-16cb1e7e45c2/web/IN-en-20251110-TRIFECTA-perspective_46e74acc-70aa-4691-988a-dbcf958149d1_large.jpg");
    
}
.coverShades
{
  height:100%;
  width: 100%;
background: linear-gradient(120deg,rgba(89, 79, 79, 1) 0%, rgba(60, 59, 59, 1) 0%, rgba(56, 56, 56, 1) 0%, rgba(51, 52, 52, 1) 0%, rgba(42, 45, 45, 1) 0%, rgba(69, 74, 74, 0.84) 0%, rgba(61, 60, 60, 1) 0%, rgba(27, 28, 28, 1) 0%, rgba(39, 41, 41, 1) 0%, rgba(44, 46, 46, 1) 0%, rgba(39, 42, 42, 1) 0%, rgba(36, 39, 39, 1) 0%, rgba(49, 51, 51, 1) 0%, rgba(53, 56, 56, 1) 0%, rgba(54, 58, 58, 1) 0%, rgba(24, 28, 28, 0.36) 0%, rgba(68, 69, 68, 1) 0%, rgba(78, 85, 79, 1) 0%, rgba(81, 87, 82, 1) 0%, rgba(71, 76, 72, 1) 0%, rgba(67, 72, 68, 1) 0%, rgba(64, 68, 65, 1) 0%, rgba(95, 101, 97, 1) 0%, rgba(69, 69, 69, 1) 0%, rgba(70, 77, 72, 1) 0%, rgba(115, 121, 118, 0.47) 0%, rgba(96, 101, 98, 1) 0%, rgba(49, 51, 50, 1) 0%, rgba(80, 84, 81, 1) 0%, rgba(103, 108, 105, 1) 0%, rgba(91, 95, 92, 1) 0%, rgba(112, 118, 115, 0.87) 0%, rgba(47, 59, 59, 0.94) 0%, rgba(38, 38, 38, 1) 0%, rgba(39, 39, 39, 1) 0%, rgba(39, 40, 39, 1) 0%, rgba(134, 143, 134, 1) 0%, rgba(51, 54, 51, 1) 0%, rgba(87, 81, 81, 1) 0%, rgba(62, 61, 59, 0.42) 12%, rgba(18, 17, 17, 0.91) 12%, rgba(47, 48, 47, 0.5) 21%, rgba(47, 51, 47, 1) 30%, rgba(42, 43, 42, 0.65) 38%, rgba(61, 62, 61, 1) 44%, rgba(42, 43, 42, 0.52) 45%, rgba(22, 23, 22, 0.75) 57%, rgba(26, 25, 25, 0.8) 57%, rgba(63, 65, 63, 1) 72%, rgba(57, 61, 57, 0.8) 72%, rgba(36, 36, 36, 1) 100%);
}

.logoImg img{ 
  width: 150px;
}
.container{
  width: 80%;
  margin: 0 auto;
}
.logoBar{
  padding-top: 30px;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr ;
  align-items: center;
}
.logoBar button{
  padding: 10px 13px;
  color: #fff;
  outline: 0;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}
.signBtn{
  height: 50px;
  width: 30%;
  background-color: #E50815;
  color:white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  justify-content: space-between;
  margin-left: 80%;

}
.EnglishBtn{
  background-color: transparent;
  align-items: center;
  font-size: 14px;
  border: 1px solid #fff;
  border-radius: 5px;
}
.signBtn:hover{
background-color: #E50813;
cursor: pointer;

}

.coverContent{
  width: 100%;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;

}
.coverHeading{
  width:500px;

}
.coverHeading h1{
  font-size:60px ;
  text-align: center;
  color: white;
}
.firstPara{
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 20px 0px;
}
.secondPara{
  font-size: 17px;
  color: white;
  text-align: center;
  padding: 20px 0px;
}
.emailBox{
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 50%;
  height: fit-content;
  align-items: center;

}
.Trending{
padding: 30px;
background-color: #000;
}
.Trending h3{
    font-size: 28px;
    margin-bottom: 20px;
    color: #cfcfcf;
    padding: left;
}
.card-container{
  display: flex;
  gap:20px;
  overflow-x: auto;
  padding: 10px;

}
.card{
  width: 160px;
  position: relative;
  text-align: center;
  background-color: #000;
}
.img-Box{
  width: 160px;
  height: 220px;
  background: #222;
  border-radius: 6px;
  background-size: cover;
  background-position: center;
}
.number{
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: -10px;
  left: -10px;
  text-shadow: 0 0 10px #000000;
}
.title{
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}
/*---if you want to add images---*/
#img1{background-image: url("https://occ-0-2087-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABQFmi2qrQTOShMevIIgOcMdy2h-nqU5swZHnjzJZJbnfTO_oJnzTZp4B8KKOEPMq0DzI2z5-XE4bjchCAQYlPvWR1jBzggTo3sM.webp?r=960");}
#img2{background-image: url("https://occ-0-2087-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABTJf3e14TtZ2Z3216UaphDq5nf1SaFyC-0R59wDCSyGdNROqYPTHg8g8SU0kbcn61BMumEkghBN8r11S6_bhQvNJ4oQD4oECM-M.webp?r=e5d");}
#img3{background-image: url("https://occ-0-2087-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABXofeOBMXfake2UpvS5aFutul0vL1os5iYG20jqPr6_CIZz7qEqvCqNXmIU067p1VhsR0lI1FDQBpMdmsupJ_6BaGVGcv-8SnP9DEaXEY3Jp8rvUHARX3b1iQhLn3rpbw8W_.webp?r=184");}
#img4{background-image: url("https://occ-0-2087-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABU_Fh4xbFDYguh3FqZEf5iceSCLJvO1Oo-VOc9xdk1ruOZHFHw8K0KhWtWYC7XswQJgdqkNCyKmXftvcBpnuJfrjTpYJuomPimc.webp?r=a26");}
#img5{background-image: url("https://occ-0-2087-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABWJF3fOVc0WbJWEYriu_3uQ9lgkyfv0VrBguejqSrYC0b7AfDDsPJ0IFUMseCvvtqjbKvUegYyhw0rDMS_O44wupyfnLPemAXvHP8sBGapu-n4-8y-D6rdQclPui4gvqvwiE.webp?r=466");}
#img6{background-image: url("https://occ-0-2087-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABVCzd41nKAatdvwy0DT1M5D-xSzSdBdKklegmczhdyKYvEEwunaUUcE5xr7Zjkn9Ywhm3n-2g0wi5s1nB3J1bAhe8t3j0ENBjxw.webp?r=267");}
#img7{background-image: url("https://occ-0-2087-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABYgqP-FM9E4u1IbMtOKfqd2ha2nti95bI-jg9xOXxJAcO6Xj9hwy02O4dFu0-oZ_jSi-NQFHPZQwn1NO7eA5LVqqGZIfy9YPjg1G6GzZPMRODawEZXb_7Ks9Ryjl-xUANYCs.webp?r=d90");}


/*Section Title*/
.reasons{
  padding:40px;
  background-color: #000;
}
.reasons h3{
  font-size: 26px;
  margin-bottom: 20px;
}
/*Cards contaner*/
.reasons-container{
  display: flex;
  gap:20px;
  flex-wrap: wrap;
  background-color: #000;
  
}
/*indivial card*/
.reason-card{
  width: 260px;
  background: linear-gradient(135 deg, #141414,#000000);
  border-radius: 15px;
  padding: 20px;
  position: relative;
  min-height: 200px;
  border: 1px solid #2f2f2f;
}
.reason-card h4{
  font-size: 18px;
  margin-bottom: 10px;
  color:#cfcfcf ;
}
.reason-card p{
  color: #cfcfcf;
  font-size: 14px;
  line-height: 1.4;
}

/*indivial placeholder*/
.icon{
  width: 50px;
  height: 50px;
  background:#ff00cc;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  right: 20px;
  opacity: 0.7;
}
.faq-container{
  width: 60%;
  margin: 50px auto;
}
.faq-container h1{
  font-size: 28px;
  margin-bottom: 25px;
  color: #cfcfcf;
  
}
.faq-box{
  background-color: #2d2d2d;
  width:60%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  color: #cfcfcf;
}
.faq-box:hover{
  background-color: #3a3a3a;
}
.faq-box:span{
  font-size: 30px;
  font-weight: bold;
}
.section h3{
  text-align: center;
  color: white;


}
.footer{
  color: #cfcfcf;
  padding: 50px 105% 10px;
  border-top: 6px solid #333;

}
.footer h6{
  font-size: 20px;
  margin-bottom: 40px;
  font-weight: 400;

}

.footer.col{
  flex-basis: 25%;
  flex-grow: 1;
  margin-bottom: 20px;
  padding: 8px 0px;
  
  
}
.footer.col a{
  display: block;
  text-decoration: none;
  color: #777;
  font-size: 20px;
  margin-bottom: 10px;
  


}
.footer .row{
  align-items: flex-start;
  padding: 10px 0;
  background-color: #000;

}
.footer .box{

  padding: 8px 0;
  background-color: #000;


}
.footer.language-btn{
  color:#cfcfcf;
  border-radius:3px;
  padding: 10px 20px;
}
.copyright-text{
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;

}


